<?xml version="1.0" encoding="utf-8" ?>

<!-- .NET application configuration file

     This file must have the exact same name as your application with
     .config appended to it. For example if your application is testApp.exe
     then the config file must be testApp.exe.config it mut also be in the
     same directory as the application. -->

<configuration>
	<!-- Register the section handler for the log4net section -->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<section name="Interop" type="Interop.InteropConfigurationSectionHandler,Interop" />
	</configSections>

	<Interop>
		<taskList xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<task>
		<trigger type="Interop.FileWaiter, Interop">
			<paramlist>
				<param name="directory" value="c:\Interop" />
				<param name="file" value="wait.tst" />
				<param name="repeat" value="true" />
			</paramlist>
			<responselist>
				<response name="success" action="ParseFlatFile" />
				<response name="failure" action="End" />
			</responselist>
		</trigger>
			<actionlist>
			<action name="ParseFlatFile" type="Interop.FlatFileParser, Interop">
				<paramlist>
					<param name="file" value="c:\Interop\new_release.txt" />
					<param name="description" type="xml">
						<input_description>
							<dataDescriptor type="string" name="CNPT" size="2" position="1" />
							<dataDescriptor type="string" name="XREF-NBR" size="12" position="3" />
							<dataDescriptor type="string" name="DEPT-ID" size="2" position="15" />
							<dataDescriptor type="string" name="CLAS-ID" size="2" position="17" />
							<dataDescriptor type="string" name="SCLS-ID" size="2" position="19" />
							<dataDescriptor type="string" name="ITEM-TTL-NM" size="50" position="21" />
							<dataDescriptor type="string" name="LAST-NM" size="30" position="71" />
							<dataDescriptor type="string" name="FRST-NM" size="30" position="101" />
							<dataDescriptor type="string" name="TMG-STR-DT" size="10" position="131" />
							<dataDescriptor type="string" name="NEW-RANK" size="2" position="141" />
							<dataDescriptor type="string" name="PPLU-FLAG" size="1" position="143" />
							<dataDescriptor type="string" name="SPACES" size="27" position="144" />
						</input_description>
					</param>
				</paramlist>
				<responselist>
					<response name="success" action="ProcessRecList" />
					<response name="failure" action="End" />
				</responselist>
			</action>
			<action name="WriteXMLFile" type="Interop.XMLWriter, Interop" >
				<paramlist>
					<param name="file" value="c:\Temp\InteropConsole\Test\out.xml" />
				</paramlist>
				<responselist>
					<response name="success" action="Archive" />
					<response name="failure" action="End" />
				</responselist>
			</action>
			<action name="Archive" type="Interop.Archiver, Interop">
				<paramlist>
					<param name="directory" value="c:\Temp\InteropConsole\Test\old" />
				</paramlist>
				<responselist>
					<response name="success" action="End" />
					<response name="failure" action="End" />
				</responselist>
			</action>
			<action name="ProcessRecList" type="Interop.RecListProcessor, Interop">
				<paramlist>
					<param name="listtype" value="New Releases" />
					<param name="mediakey" value="DEPT-ID" />
					<param name="conceptkey" value="CNPT" />
					<param name="sequencekey" value="NEW-RANK" />
					<param name="xrefkey" value="XREF-NBR" />
					<param name="product_types" type="xml">
						<product_type name="audio" dbid="1" dept="12" />
						<product_type name="video" dbid="3" dept="39" />
						<product_type name="game" dbid="4" dept="10" />
					</param>
				</paramlist>
				<responselist>
					<response name="success" action="Archive" />
					<response name="failure" action="End" />
				</responselist>
			</action>
			</actionlist>
		</task>
		</taskList>		
	</Interop>
	
	
	<!-- Enable internal debugging in log4net
	<appSettings>
		<add key="log4net.Internal.Debug" value="true"/>
	</appSettings> -->

	<!-- This section contains the log4net configuration settings -->
	<log4net debug="false">

		<!-- Define some output appenders -->
		
		<!-- Example of rolling file appender 
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="LQSS-SS-log.txt" />
			<param name="AppendToFile" value="true" />

			<param name="MaxSizeRollBackups" value="10" />
			<param name="MaximumFileSize" value="100" />
			<param name="RollingStyle" value="Size" />
			<param name="StaticLogFileName" value="true" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="Header" value="[Header]\r\n"/>
				<param name="Footer" value="[Footer]\r\n"/>
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
			</layout>
		</appender> -->

		<appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net" >
			<param name="File" value="error-log.txt" />
			<param name="AppendToFile" value="true" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
			</layout>
		</appender>

<!-- 		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender,log4net" >
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
			</layout>
		</appender> -->

		<!-- Example of how to configure the ADONetAppender
		<appender name="ADONetAppender" type="log4net.Appender.ADONetAppender,log4net" >
			<param name="ConnectionString" 
			       value="Driver={Microsoft Access Driver (*.mdb)};DBQ=C:\\Work\\cvs_root\\log4net-1.2\\access.mdb;UID=;PWD=;" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES ('%d','%t','%p','%c','%m')" />
			</layout>
		</appender> -->


		<!-- Setup the root category, add the appenders and set the default priority -->
		
		<root>
			<priority value="INFO" />
			<appender-ref ref="LogFileAppender" />
<!--			<appender-ref ref="RollingLogFileAppender" /> -->
<!--			<appender-ref ref="ConsoleAppender" /> -->
		</root>

		<!-- Specify the priority for some specific categories -->
		
		<category name="testApp.LoggingExample"><priority value="DEBUG" /></category>
		
	</log4net>

</configuration>
